.card-header {
  padding: 20px 0px 10px 30px;
  margin: 0px 0 0 0; 
  display: flex;
}
.card-title {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.card-body {
  padding: 0;
  text-align: left;
}
.card {
  overflow: hidden;
  border-radius: 8px;
}
.chart { 
  padding: 0 20px;
}

/* Bar Chart */
.bar-header .d-flex {
  display: flex;
  padding: 30px 30px 10px 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#marketplace-btn {
  border-radius: 8px;
}
#toko-btn {
  border-radius: 8px;
}
#buku-btn {
  border-radius: 8px;
}
.btn-group {
  color:#ff9800;
  background-color: transparent;
  border: none;
  gap: 10px;
  cursor: pointer;

  font-size: 14px; /* Ukuran font awal */
  transition: background-color 0.3s ease, color 0.3s ease;
  
}
.btn-group .btn:hover {
  color: #ff9800;
}
.btn-group .active {
  background-color: #ff9800; /* Warna oranye */
  color: #fff;
  border-radius: 8px;
}
.title-chart-bar {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 16px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.month-dropdown {
    padding: 10px 15px; 
    color: #ff8c42; 
    border: 1px solid #ff8c42; 
    border-radius: 5px; 
    background-color: #ffffff; 
    transition: border-color 0.3s ease; 
}

.month-dropdown:focus {
    border-color: #ff7b29; 
    box-shadow: 0 0 5px rgba(255, 148, 82, 0.5);
    outline: none;
}
  
.button-group {
    display: flex;
}
  
.button-group button {
    margin-right: 10px; 
}

/* TOKO */
.text-orange {
  background-color: #ff9800;
  color: #E8E8E8;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

/* Responsif untuk tablet */
@media (max-width: 768px) {
    .button-container {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .btn-group {
      font-size: 12px; 
      padding: 8px 16px; 
    }
  
    .dropdown select {
      padding: 8px;
      font-size: 12px; 
    }
  
    .month-dropdown {
      padding: 8px 12px; /
    }
  }
  
  /* Responsif untuk smartphone */
  @media (max-width: 480px) {
    .button-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .btn-group {
      font-size: 10px; 
      padding: 6px 12px;
      width: 100%; 
      text-align: center;
      margin-bottom: 5px;
    }
  
    .dropdown select {
      width: 100%; 
      font-size: 10px; 
      padding: 6px; 
    }
  
    .month-dropdown {
      padding: 6px 10px; 
      width: 100%; 
      text-align: center; 
    }
  }

.title-chart-bar {
  text-align: center;
  padding: 16px 0 16px 0;
  background-color: white;
  color: orange;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding-right: 30px;
}

/* Arrow styling */
.arrow {
  color: orange;
  font-size: 16px;
  padding-left: 8px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown on hover */
.bar-dropdown:hover .dropdown-content {
  display: block;
}

/* Change button color on hover */
.bar-dropdown:hover .bar-month-dropdown {
  background-color: #f9f9f9;
}

/* Row Pertama Kanan */
.card-total {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
  width: 100%;
}
.col-auto {
  padding-right: 10px; 
  padding: 20px 16px 16px 0px;
  overflow-x: auto;
}

/* Warna pada persentase kenaikan dan penurunan */
.text-success {
  color: #28a745;
  font-size: smaller;
}

.text-danger {
  color: #dc3545;
  font-size: smaller;
}

.text-muted {
  font-size: smaller;
}

/* Penjualan Keseluruhan */
.penjualan-keseluruhan {
  color: #606060;
  font-weight: lighter;
  font-size: 14px;
}

.header-sale {
  margin: 30px 16px 0 28px;
}

.title-sale {
  margin-left: 28px ;
}

.title-sale h3 {
  font-weight: bold;
}

.stat {
  background-color: #E8E8E8; 
  border-radius: 8px;
  padding: 10px;
}
  
.stat svg {
    fill: #F58635; 
  }

.in-stock { background-color: #28a745; }
.out-of-stock { background-color: #dc3545; }

/* Data Toko Reseller & Data Penjualan Buku*/
.data-reseller, .data-penjualan, .data-marketplace {
    color: #F58635;
    font-weight: bold;
    font-size: 18px;
}

.judul-th {
    font-weight: bold;
    font-size: 14px;
    color: #000000 !important;
    border-bottom: 1px solid #EFEFEF;
    text-align: left;
    margin: 0px;
    padding-top: 0px;
}

th.judul-th {
  padding: 0px 0px 5px 10px; 
}

.name-column {
  color: #000000 !important;
}

.name-column, .status-dot {
    color: black ;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.name-column + td, .name-column + td + td {
  color: #000000 !important;
  font-weight: normal;
  font-size: 14px;
}

.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.tr td.deactive {
    color: grey;
}

tr.deactive {
    opacity:0.6
}

/* Data Marketplace */
.card-body {
  margin-bottom: 20px;
  padding: 1rem;
}

.custom-table tbody tr {
  text-align: left;
  padding-left: 0px;
}

.custom-table tbody tr td {
  padding-top: 5px; 
  padding-bottom: 5px; 
}

.custom-table tbody tr td:first-child {
  padding-left: 0px; 
}

.custom-table tbody tr td:last-child {
  padding-right: 0; 
}

.col-kiri {
  width: 40%; 
  margin-right: 10px; 
  margin-left: 10px;
  font-size: small;
}

.col-kanan {
  width: 50%; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding: 0; 
}

.performa-header {
  margin-top: -20px; 
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.performa-marketplace {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
/* Chart Pie */
.chart-container {
    height: 150px;
}

#chartjs-dashboard-pie {
    width: 100%;
    height: auto;
}

.legend-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 0.70rem;
    width: 100%;
}

.legend-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.legend-list li span {
    text-align: left; 
    margin-right: 0px;
    display: inline-block;
    width: 70%;
}

.legend-list li::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 50%;
}

.legend-shopee::before {
    background-color: #F1582E;
}
.legend-deepublish::before {
    background-color: #BCBCBC;
}
.legend-tokopedia::before {
    background-color: #469546;
}
.legend-lazada::before {
    background-color: #0F0890;
}
.legend-bukalapak::before {
    background-color: #E31F51;
}
.legend-olx::before {
    background-color: #3A77FF;
}

/* Data Marketplace Responsif */
@media (max-width: 768px) {
  .col-kanan {
      flex-direction: column; /* Menjaga layout kolom */
      align-items: flex-start; /* Rata kiri untuk perangkat kecil */
  }

  .chart-container {
      width: 100%; /* Membuat chart mengisi penuh */
  }

  .legend-list {
      width: 100%; /* Lebar penuh untuk legend */
  }

  .performa-marketplace {
      font-size: 18px; /* Ukuran font sedikit lebih kecil */
  }

  .legend-list li {
      flex-direction: row; /* Tetap dalam baris */
      justify-content: space-between; /* Mengatur jarak antara nama dan nilai */
  }
}

/* Responsif untuk Tablet dan Layar Lebar */
/* Responsif untuk tablet */
@media (max-width: 768px) {
    .button-container {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .btn-group {
      font-size: 12px; 
      padding: 8px 16px; 
    }
  
    .dropdown select {
      padding: 8px;
      font-size: 12px; /* Sesuaikan ukuran font */
    }
  
    .month-dropdown {
      padding: 8px 12px; /* Kurangi padding */
    }
  }
  
  /* Responsif untuk smartphone */
  @media (max-width: 480px) {
    .button-container {
      flex-direction: column;
      align-items: stretch; /* Penuhi lebar layar */
    }
  
    .btn-group {
      font-size: 10px; /* Sesuaikan ukuran font */
      padding: 6px 12px; /* Sesuaikan padding */
      width: 100%; /* Lebar penuh untuk button */
      text-align: center; /* Rata tengah teks */
      margin-bottom: 5px; /* Jarak bawah untuk tiap button */
    }
  
    .dropdown select {
      width: 100%; /* Lebar penuh */
      font-size: 10px; /* Ukuran font lebih kecil */
      padding: 6px; /* Sesuaikan padding */
    }
  
    .month-dropdown {
      padding: 6px 10px; /* Kurangi padding */
      width: 100%; /* Lebar penuh */
      text-align: center; /* Teks rata tengah */
    }
  }
/* Responsif: Mengatur agar di layar kecil tampil satu kolom */
@media (max-width: 768px) {
  .col-sm-6 {
    width: 100%;
  }
}