/* Background Modal*/
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content-dashboard {
  padding-top: 80px !important;
  padding: 3rem 3rem 1rem;
}

.penjualan {
  margin-bottom: 1rem !important;
}

.total-penjualan {
  margin-bottom: 0;
}

.container {
  padding-top: 80px;
}

h2.h3.h5 {
  font-size: 1em; 
  margin-bottom: 1em;
}

/* Halaman Daftar Toko */
.custom-button .bi {
  font-weight: bold !important;
}

.dropdown .btn-no-border {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}
.btn-custom-info {
  background-color: #1742b8;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-custom-info:hover {
  background-color: #138496;
}
.btn-custom-warning {
  background-color: #ffc107;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-custom-warning:hover {
  background-color: #e0a800;
}
.btn-custom-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-custom-danger:hover {
  background-color: #c82333;
}
/* Halaman Daftar Toko: Tabel Status */
.badge-active {
  background-color: green; 
  color: white;           
  padding: 5px 10px;     
  border-radius: 5px;    
}
.badge-inactive {
  background-color: red;  
  color: white;           
  padding: 5px 10px;    
  border-radius: 5px;    
}

/* edit */
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa; 
}

.form-wrapper {
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.modal-dialog {
  max-width: 600px;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  justify-content: flex-end;
}

.custom-button {
  background-color: #ff9800; 
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.custom-button:hover {
  background-color: #ff7b29; 
}

.card-header {
  padding: 25px 0px 10px 30px;
  margin: 0px 0 0 0; 
  display: flex;
  background-color: transparent;
  border-bottom: none;
}

.container-login {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 400vh;
}

.card-login {
  padding: 20px 20px 35px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin: 0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.card-body {
  padding: 0;
  text-align: left;
}

.card {
  overflow: visible;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart { 
  padding: 0 20px;
}

/* Bar Chart */
.bar-header .d-flex {
  display: flex;
  padding: 30px 30px 10px 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#marketplace-btn {
  border-radius: 8px;
}

#toko-btn {
  border-radius: 8px;
}

#buku-btn {
  border-radius: 8px;
}

.btn-group {
  background-color: transparent;
  border: none;
  gap: 10px;
  cursor: pointer;
  font-size: 14px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  
}

.btn-group .btn:hover {
  border: 1px solid #ff9800; 
  color: #ff9800;
  outline: none;
  box-shadow: none;
}

.btn-group .active {
  background-color: #ff9800; 
  color: #fff !important;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
}

.title-chart-bar {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 16px;
  
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.month-dropdown {
  font-size: 1em;
  padding: 5px 7px; 
  color: #ff8c42; 
  border: 1px solid #ff8c42; 
  border-radius: 5px; 
  background-color: #ffffff; 
  transition: border-color 0.3s ease; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.month-dropdown:focus {
  border-color: #ff7b29; 
  box-shadow: 0 0 5px rgba(255, 148, 82, 0.5);
  outline: none;
}

.month-dropdown i {
  margin-left: 8px;
}
  
.button-group {
  display: flex;
}
  
.button-group button {
  margin-right: 10px; 
}

/* toko */
.btn {
  background-color: transparent;
  color: #f57c00; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  text-decoration: none;
  display: inline-block; 
}

.btn-login {
  background-color: #f57c00;
  color: #ffff; 
  padding: 10px 30px; 
  border: none;
  border-radius: 5px; 
  text-decoration: none;
  float: right;
  padding-bottom: 10px;
}

/* .btn:hover {
  border: 1px solid #ff9800;
  color: #ff9800; 
} */

.btn-primary {
  background-color: #f57c00;
  color: #ffff; 
  padding: 10px 30px; 
  border: none;
  border-radius: 5px; 
  text-decoration: none;
  display: inline-block; 
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.title-chart-bar {
  text-align: center;
  padding: 16px 0 16px 0;
  background-color: white;
  color: #f57c00;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding-right: 30px;

}

.arrow {
  color: #f57c00;
  font-size: 16px;
  margin-left: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.bar-dropdown:hover .dropdown-content {
  display: block;
}

.bar-dropdown:hover .bar-month-dropdown {
  background-color: #f9f9f9;
}

.card-total {
  border: 1px solid #ddd;
  background-color: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding: 5px 16px 16px 20px;
  transition: transform 0.2s ease-in-out;
  width: 100%;
}

.text-orange {
  color: #f57c00;
}

.col-auto {
  padding-right: 10px; 
  padding: 20px 16px 16px 0px;
  overflow-x: auto;
}

/* Warna pada persentase kenaikan dan penurunan */
.text-success {
  color: #28a745;
  font-size: smaller;
}

.text-danger {
  color: #dc3545;
  font-size: smaller;
}

.text-muted {
  font-size: smaller;
}

/* Penjualan Keseluruhan */
.penjualan-keseluruhan {
  color: #606060;
  font-weight: lighter;
  font-size: 14px;
}

.header-sale {
  margin: 30px 35px 0 40px;
}

.title-sale {
  margin-left: 40px;
  align-items: center;
}

.title-sale h3 {
  font-weight: bold;
}

.title-sale .ms-3 {
  display: flex;
  align-items: center;
  margin-left: 10px; 
  margin-bottom: 5px;
}

.stat {
  background-color: #E8E8E8; 
  border-radius: 8px;
  padding: 10px;
}
  
.stat svg {
    fill: #F58635; 
  }

.in-stock { background-color: #28a745; }
.out-of-stock { background-color: #dc3545; }

/* Data Toko Reseller & Data Penjualan Buku*/
.data-reseller, .data-penjualan, .data-marketplace {
  color: #F58635;
  font-weight: bold;
  font-size: 18px;
}

.judul-th {
  font-weight: bold;
  font-size: 14px;
  color: #000000 !important;
  border-bottom: 1px solid #EFEFEF;
  text-align: left;
  margin: 0px;
  padding-top: 0px;
}

th.judul-th {
  padding: 0px 0px 5px 10px; 
}

.name-column {
  color: #000000 !important;
}

.name-column, .status-dot {
  color: black ;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.name-column + td, .name-column + td + td {
  color: #000000 !important;
  font-weight: normal;
  font-size: 14px;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.tr td.deactive {
  color: grey;
}

tr.deactive {
  opacity:0.6
}

/* Data Marketplace */
.card-body {
  padding: 1rem 1rem 1.2rem 1rem;
}

.custom-table tbody tr {
  text-align: left;
  padding-left: 0px;
}

.custom-table tbody tr td {
  padding-top: 5px; 
  padding-bottom: 5px; 
}

.custom-table tbody tr td:first-child {
  padding-left: 0px; 
}

.custom-table tbody tr td:last-child {
  padding-right: 0; 
}

.col-kiri {
  width: 40%; 
  margin-right: 10px; 
  margin-left: 10px;
  font-size: small;
}

.col-kanan {
  width: 50%; 
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  padding: 0; 
}

.performa-header {
  margin-top: -20px; 
  padding: 0px;
  text-align: center;
}

.performa-marketplace {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-left: 60px;
}

.chart-container {
  height: 150px;
}
#chartjs-dashboard-pie {
  width: 100%;
  height: auto;
}

.legend-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0.70rem;
  width: 100%;
  margin-top: 10px;
}

.legend-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.legend-list li span {
  text-align: left; 
  margin-right: 0px;
  display: inline-block;
  width: 70%;
}

.legend-list li::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 3px;
  border-radius: 50%;
}

.legend-shopee::before {
  background-color: #F1582E;
}
.legend-deepublish::before {
  background-color: #BCBCBC;
}
.legend-tokopedia::before {
  background-color: #469546;
}
.legend-lazada::before {
  background-color: #0F0890;
}
.legend-bukalapak::before {
  background-color: #E31F51;
}
.legend-olx::before {
  background-color: #3A77FF;
}

.btn-group-desktop {
  display: flex;
}

.btn-group-mobile {
  display: none;
}

.rounded-circle {
  width: 150px !important;
  height: 150px !important;
}

.container-profile {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1200px;
}

.buttonallert {
  background-color: #ff9800;
  box-shadow: none;
  outline: none;
}

.buttonallert:focus{
  box-shadow: none;
}

/* Media query card untuk tampilan mobile */
@media (min-width: 360px) and (max-width: 599px) {
  .content-dashboard {
    padding: 1.5rem 1.5rem 0;
  }

  #dashboard,
  #pesanan-btn,
  #toko-btn,
  #pembayaran-btn, 
  .user-profile .text-dark {
    font-size: 14px;
  }

  .chart {
    padding: 10px 10px;
  }

  .header-sale {
    margin: 20px 20px 0 32px;
  }

  .card-total {
    font-size: 1em;
    padding: 10px;
    text-align: center;
  }

  .card-konversi{
    margin-bottom: 0;
  }

  .title-sale {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 32px;
  }

  .title-sale h3 {
    font-size: 1.2em; 
  }

  .title-sale .ms-3 {
    display: flex;
    align-items: center;
    margin-left: 10px; 
  }

  .title-sale .text-success {
    font-size: 0.7em;
  }

  .card-total .stat {
    text-align: center;
    justify-self: center;
    align-items: center;
    display: flex;
    font-size: 0.9rem !important;
    height: 30px;
    width: 30px;
    border-radius: 5px;
  }

  .card-right .col-auto {
    padding: 5px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
  }

  h3, h5, .title-total, .data-marketplace, .data-penjualan {
    font-size: 0.9rem !important; 
    margin-bottom: 1%;
  }

  .card-total .fw-bold.fs-4 {
    font-size: 1rem !important; 
    margin-bottom: 0 !important; 
  }

  .card-total .mb-0 {
    font-size: 0.85rem; 
    margin-top: 0;
  }

  .title-sale .ms-3 {
    margin-left: 4px !important;
  }

  h2.h3 {
    font-size: 1em;
  }

  .btn-group-desktop {
    display: none !important;
  }

  .btn-group-mobile {
    display: block !important;
  }

  .btn-group-mobile:hover .dropdown-menu {
    display: block !important;
    position: absolute;
  }

  .btn-kategori {
    outline: none;
    border: none !important;
    background-color: transparent;
    z-index: 1;
  }

  .month-dropdown {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.8em;
    padding: 6px 12px;
    box-shadow: none;
    border: 1px solid transparent;
  }

  .month-dropdown:hover {
    border: 1px solid #f57c00;
  }

  .month-dropdown:hover,
  .month-dropdown:focus,
  .dropdown.show .month-dropdown {
    background-color: transparent !important;
    color: #f57c00;
    outline: none;
    box-shadow: none;
    border-color: #f57c00 !important; 
    box-shadow: 0 0 5px rgba(255, 148, 82, 0.5);
    outline: none;
  }

  .dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 100% !important;
    left: 0 !important;
    transform: translateY(0) !important;
    padding: 5px;
    min-width: 120px !important;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
  }

  .btn-dropdown {
    border: 1px solid transparent;
    font-size: 0.8em;
    padding: 6px 10px 6px 10px;
  }

  .btn-dropdown:hover,
  .btn-dropdown:focus,
  .dropdown.show .btn-dropdown {
    background-color: transparent;
    color: #f57c00;
    outline: none;
    box-shadow: none;
    border-color: #f57c00; 
    box-shadow: 0 0 5px rgba(255, 148, 82, 0.5);
    outline: none;
  }

  .dropdown-item:hover {
    background-color: #e0e0e0;
    color: #f57c00;
  }

  .dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 10px !important;
    font-size: 12px;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  .dropdown-menu:hover {
    display: block;
  }

  .dropdown-menu.show {
    display: block !important;
  }

  .title-chart-bar {
    text-align: center !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    padding: 0 35px 0 35px !important;
  }

  .chart.chart-lg {
    width: 100%;
    max-width: 100%;
  }

  .bar-header .d-flex {
    padding: 20px 20px 0px 30px !important;
  }

  .card-body .row {
    display: flex;
    flex-direction: row;
  }

  .col-6 {
    width: 100%;
  }

  .col-kiri {
    flex: 1;
    max-width: 50%;
  }

  .col-kanan {
    margin-top: 0;
    margin-bottom: 0;
  }

  .col-kanan .row {
    flex: 1;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .chart-legend {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
  }

  .legend-item {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #000;
    padding-left: 0;
    position: relative;
  }

  .legend-item::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
  }

  .legend-item[data-label="Lazada"]::before { background-color: #0F0890; }
  .legend-item[data-label="Shopee"]::before { background-color: #F1582E; }
  .legend-item[data-label="Tokopedia"]::before { background-color: #469546; }
  .legend-item[data-label="OLX"]::before { background-color: #3A77FF; }
  .legend-item[data-label="Web Deepublish"]::before { background-color: #BCBCBC; }
  .legend-item[data-label="Bukalapak"]::before { background-color: #E31F51; }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 0;
    margin: 0;
    height: 90px;
    width: 90px;
    margin-left: 40px;
  }

  #chartjs-dashboard-pie {
    height: 90px !important;
    width: 90px !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .performa-header {
    text-align: center;
    margin-bottom: 0%;
  }

  .performa-marketplace {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    margin-top: 2px;
  }
  
  .legend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    font-size: 10px;
  }

  .legend-list li {
    width: 65%;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .legend-list li::before {
    width: 8px;
    height: 8px;
  }

  .status-dot {
    width: 8px;
    height: 8px;
  }

  .table-responsive .judul-th {
    font-size: 14px ;
  }

  .table-responsive .table td,
  .table-responsive .table th {
    font-size: 12px;
  }

  .table-borderless .name, 
  .table-borderless .text-end { 
      font-size: 12px !important; 
  }

  .card-body .table td {
    font-size: 12px; 
  }

  .card-body .table .judul-th {
    font-size: 14px;
    font-weight: bold;
  }

  .user-data {
    font-size: 12px;
  }

  .custom-button {
    font-size: 12px;
    padding: 7px 10px;
  }

  .rounded-circle {
    width: 100px;
    height: 100px;
  }

  #toko_id {
    font-size: 14px;
  }

  #toko_id option {
    font-size: 10px;
  }

  #tanggal {
    font-size: 14px;
  }

  #no_hp {
    font-size: 14px;
  }

  #asal_penjualan {
    font-size: 14px;
  }

  .card h3 {
    font-size: 16px;
  }

  .reseller {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .lead {
    font-size: 12px;
    margin-top: 0;
  }

  .log {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .card-login {
    font-size: 14px;
    box-shadow: none;
    padding: 20px;
  }

  .card-login .form-control {
    font-size: 14px;
  }

  .btn-login {
    float: right;
    font-size: 12px;
    text-align: center;
    padding: 8px 16px;
  }

  .text-italic {
    font-size: 14px;
  }

  .sweetalert {
    max-width: 300px;
    font-size: 12px;
  }
}

/* Media query card untuk tampilan tab */
@media (min-width: 600px) and (max-width: 1024px) {
  .content-dashboard {
    padding: 1.5rem 1.5rem 0;
  }

  .card-right .col-auto {
    padding: 15px;
  }

  .card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .title-total {
    font-size: 1.25rem;
  }

  .fw-bold.fs-4 {
    font-size: 1.5rem;
    margin-bottom: 0%;
  }

  .mb-0 {
    margin-top: 0; 
    font-size: 1rem;
  }

  .data-marketplace, .data-penjualan, .data-reseller {
    font-size: 1.2rem; 
    padding: 1rem;
    padding-bottom: 0.5rem;
  }

  .penjualan-keseluruhan {
    font-size: 16px;
  }

  .percentage {
    margin-left: 5px !important;
  }

  .card-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-total .stat {
    font-size: 1.25em;
    text-align: center;
    justify-self: center;
    align-items: center;
    display: flex;
  }

  .card-total .title-total {
    font-size: 1.1em;
    font-weight: 500;
  }

  .card-total h1 p {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
  }

  .card-total .mb-0 {
    display: flex;
    align-items: center;
    font-size: 0.9em;
  }

  .card-total .mb-0 .text-success, 
  .card-total .mb-0 .text-danger {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  .card-total .mb-0 i {
    margin-right: 3px;
  }

  .dropdown-menu {
    top: 100% !important;
    left: 0 !important;
    transform: translateY(0) !important;
    min-width: 120px !important
  }

  .dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 20px !important;
    font-size: 18px !important;
  }

  .btn-dropdown {
    display: none;
  }

  .chart-legend {
    display: none !important;
  }

  .col-kanan {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .legend-list {
      padding-right: 0 !important;
  }

  .card-body {
    padding: 2rem;
    /* padding-bottom: 0.5rem; */
    padding-top: 0;
    padding-right: 0;
  }

  .performa-marketplace {
    font-size: 16px;
  }

  .legend-list {
    margin-top: 10px;
  }

  .legend-list li {
    font-size: 12px;
  }

  .col-kanan .col-6 {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 170px;
  }

  .chart-container {
    width: 20%;
    padding: 0;
    margin: 0;
    height: 120px;
    width: 120px;
    margin-top: 20px;
  }

  #chartjs-dashboard-pie {
    height: 120px !important;
    width: 120px !important;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .dropdown-menu {
    top: 100% !important;
    left: 0 !important;
    transform: translateY(0) !important;
    min-width: 120px !important
  }

  .dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 20px !important;
    font-size: 18px !important;
  }

  .btn-dropdown {
    display: none;
  }

  .chart-legend {
    display: none !important;
  }
}
